<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SSO account deactivated</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <style type="text/css">
            {% include "sso.css" without context %}
        </style>
    </head>
    <body class="error_page">
        <header>
            <h1>Twoje konto zostało wyłączone</h1>
            <p>
                <strong>Nie znaleziono konta</strong>
            </p>
            <p>
               Twoje konto mogło zostać wyłączone przez Administratora. W razie pytań proszę zgłosić się do administratora lokalnego.
            </p>
        </header>
        {% include "sso_footer.html" without context %}
    </body>
</html>
