<footer>
	<svg role="img" aria-label="[Matrix logo]" viewBox="0 0 200 85" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="parent" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="child" transform="translate(-122.000000, -6.000000)" fill="#000000" fill-rule="nonzero">
                  <img style="width: 150px; height: 150px; object-fit: cover;" src="https://media-exp1.licdn.com/dms/image/C4E0BAQHSoWJQfi1MtA/company-logo_200_200/0/1644391062020?e=1655337600&v=beta&t=L5xMWBDyRqXh_NT9DyjNTMvTgptR2KmiNDKhovplNAw">
              </g>
          </g>
      </svg>
      <p>Merkury 2.0 Bezpieczny komunikator dla Resortu Obrony Narodowej.<br>© 2022 Narodowe Centrum Bezpieczeństwa Cyberprzestrzeni - DKWOC</p>
</footer>